# NPM modules
node_modules

# Truffle artifacts
build
artifacts

# OpenZeppelin SDK
.openzeppelin/dev-[^15001]*.json
.openzeppelin/.session

# Deployment configuration
.env

# Other
cache
.DS_Store
.idea